In [25]:
import pandas as pd
import ast
import os

In [27]:

# Ruta donde están ubicados los archivos
directory = 'C:/Users/edwar/Documents/PROYETO_DTA_01_SISTEMA_DE_RECOMENDACION/NOTEBOOK/NUEVOS DATASET'

# Lista con los nombres de los archivos que deseas combinar
file_names = ['cast_expanded.csv', 'credits_rest.csv', 'crew_expanded.csv', 'genres_expanded.csv', 'movies_rest.csv']

In [33]:
# Crear una lista vacía para almacenar los DataFrames
dfs = []
# Iterar sobre los archivos y leer cada uno en un DataFrame
for file_name in file_names:
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, low_memory=False)  # low_memory=False para evitar advertencias
    dfs.append(df)

In [34]:

# Combinar todos los DataFrames en uno solo
combined_df = pd.concat(dfs, ignore_index=True)

# Guardar el DataFrame combinado en un nuevo archivo CSV llamado 'info_completa.csv'
combined_df.to_csv(f'{directory}/info_completa.csv', index=False)

# Mostrar los primeros 5 registros del DataFrame combinado
print(combined_df.head())

      id   0 credit_id department  gender  id.1  job name profile_path adult  \
0    862 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
1   8844 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
2  15602 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
3  31357 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
4  11862 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN

   ... release_date revenue runtime spoken_languages status tagline title  \
0  ...          NaN     NaN     NaN              NaN    NaN     NaN   NaN
1  ...          NaN     NaN     NaN              NaN    NaN     NaN   NaN
2  ...          NaN     NaN     NaN              NaN    NaN     NaN   NaN
3  ...          NaN     NaN     NaN              NaN    NaN     NaN   NaN
4  ...          NaN     NaN     NaN              NaN    NaN     NaN   NaN

  video vote_average vote_count
0   NaN          NaN        NaN
1   NaN          NaN        NaN
2   NaN          NaN        NaN
3   NaN          NaN        NaN
4   NaN          NaN        NaN

[5 rows x 31 columns]

In [39]:
# Establecer que se muestre el máximo número de columnas
pd.set_option('display.max_columns', None)

# Mostrar todas las filas si lo deseas (ajusta según lo necesario)
pd.set_option('display.max_rows', None)

# Mostrar los primeros 5 registros del DataFrame combinado llamado 'combined_df'
print(combined_df.head())

      id   0 credit_id department  gender  id.1  job name profile_path adult  \
0    862 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
1   8844 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
2  15602 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
3  31357 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN
4  11862 NaN       NaN        NaN     NaN   NaN  NaN  NaN          NaN   NaN

  belongs_to_collection budget homepage imdb_id original_language  \
0                   NaN    NaN      NaN     NaN               NaN
1                   NaN    NaN      NaN     NaN               NaN
2                   NaN    NaN      NaN     NaN               NaN
3                   NaN    NaN      NaN     NaN               NaN
4                   NaN    NaN      NaN     NaN               NaN

  original_title overview popularity poster_path production_companies  \
0            NaN      NaN        NaN         NaN                  NaN
1            NaN      NaN        NaN         NaN                  NaN
2            NaN      NaN        NaN         NaN                  NaN
3            NaN      NaN        NaN         NaN                  NaN
4            NaN      NaN        NaN         NaN                  NaN

  production_countries release_date  revenue  runtime spoken_languages status  \
0                  NaN          NaN      NaN      NaN              NaN    NaN
1                  NaN          NaN      NaN      NaN              NaN    NaN
2                  NaN          NaN      NaN      NaN              NaN    NaN
3                  NaN          NaN      NaN      NaN              NaN    NaN
4                  NaN          NaN      NaN      NaN              NaN    NaN

  tagline title video  vote_average  vote_count
0     NaN   NaN   NaN           NaN         NaN
1     NaN   NaN   NaN           NaN         NaN
2     NaN   NaN   NaN           NaN         NaN
3     NaN   NaN   NaN           NaN         NaN
4     NaN   NaN   NaN           NaN         NaN

In [41]:
combined_df.describe()

,0,gender,id.1,revenue,runtime,vote_average,vote_count
count,0.0,464314.000000,4.643140e+05,4.546000e+04,45203.000000,45460.000000,45460.000000
mean,NaN,0.759975,6.456037e+05,1.120935e+07,94.128199,5.618207,109.897338
std,NaN,0.935607,6.791434e+05,6.433225e+07,38.407810,1.924216,491.310374
min,NaN,0.000000,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,NaN,0.000000,3.025600e+04,0.000000e+00,85.000000,5.000000,3.000000
50%,NaN,0.000000,1.347900e+05,0.000000e+00,95.000000,6.000000,10.000000
75%,NaN,2.000000,1.388851e+06,0.000000e+00,107.000000,6.800000,34.000000
max,NaN,2.000000,1.908001e+06,2.787965e+09,1256.000000,10.000000,14075.000000

In [43]:
combined_df.info(show_counts=True, memory_usage=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646969 entries, 0 to 646968
Data columns (total 31 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     646969 non-null  object
 1   0                      0 non-null       float64
 2   credit_id              464314 non-null  object
 3   department             464314 non-null  object
 4   gender                 464314 non-null  float64
 5   id.1                   464314 non-null  float64
 6   job                    464314 non-null  object
 7   name                   464314 non-null  object
 8   profile_path           95098 non-null   object
 9   adult                  45466 non-null   object
 10  belongs_to_collection  4494 non-null    object
 11  budget                 45466 non-null   object
 12  homepage               7782 non-null    object
 13  imdb_id                45449 non-null   object
 14  original_language      45455 non-null   object
 15  original_title         45466 non-null   object
 16  overview               44512 non-null   object
 17  popularity             45461 non-null   object
 18  poster_path            45080 non-null   object
 19  production_companies   45463 non-null   object
 20  production_countries   45463 non-null   object
 21  release_date           45379 non-null   object
 22  revenue                45460 non-null   float64
 23  runtime                45203 non-null   float64
 24  spoken_languages       45460 non-null   object
 25  status                 45379 non-null   object
 26  tagline                20412 non-null   object
 27  title                  45460 non-null   object
 28  video                  45460 non-null   object
 29  vote_average           45460 non-null   float64
 30  vote_count             45460 non-null   float64
dtypes: float64(7), object(24)
memory usage: 153.0+ MB

In [45]:
# Reemplazar los valores nulos en las columnas 'revenue' y 'budget' por 0
combined_df['revenue'].fillna(0, inplace=True)
combined_df['budget'].fillna(0, inplace=True)

In [47]:
# Eliminar las filas donde 'release_date' sea nulo
combined_df = combined_df.dropna(subset=['release_date'])

In [55]:
# Muestra los primeros valores de la columna para inspeccionar su formato
print(combined_df['release_date'].head(10))

# Muestra valores únicos que podrían no estar en el formato esperado
print(combined_df['release_date'].unique())

601503    1995-10-30
601504    1995-12-15
601505    1995-12-22
601506    1995-12-22
601507    1995-02-10
601508    1995-12-15
601509    1995-12-15
601510    1995-12-22
601511    1995-12-22
601512    1995-11-16
Name: release_date, dtype: object
['1995-10-30' '1995-12-15' '1995-12-22' ... '1904-03-05' '1991-05-13'
 '1917-10-21']

In [57]:
# Convertir la columna de fecha a formato AAAA-mm-dd, manejando errores
combined_df['release_date'] = pd.to_datetime(combined_df['release_date'], format='%Y-%m-%d', errors='coerce')

# Crear la columna release_year a partir de la fecha de estreno
combined_df['release_year'] = combined_df['release_date'].dt.year

# Guardar el DataFrame modificado en el mismo archivo
combined_df.to_csv('combined_df.csv', index=False)

In [61]:
# Intentar convertir la columna de fecha sin un formato estricto
combined_df['release_date'] = pd.to_datetime(combined_df['release_date'], errors='coerce')

# Crear la columna release_year a partir de la fecha de estreno
combined_df['release_year'] = combined_df['release_date'].dt.year

# Guardar el DataFrame modificado en el mismo archivo
combined_df.to_csv('combined_df.csv', index=False)

In [62]:
# Convertir la columna de fecha a formato AAAA-mm-dd, manejando errores
combined_df['release_date'] = pd.to_datetime(combined_df['release_date'], errors='coerce')

# Crear la columna release_year a partir de la fecha de estreno
combined_df['release_year'] = combined_df['release_date'].dt.year

# Convertir las columnas revenue y budget a valores numéricos, manejando errores
combined_df['revenue'] = pd.to_numeric(combined_df['revenue'], errors='coerce')
combined_df['budget'] = pd.to_numeric(combined_df['budget'], errors='coerce')

In [63]:
# Calcular la columna return y asignar 0 cuando budget es 0 o no está disponible
combined_df['return'] = combined_df.apply(lambda row: row['revenue'] / row['budget'] if row['budget'] > 0 else 0, axis=1)

# Eliminar las filas donde release_date es NaT (no es una fecha válida)
combined_df = combined_df.dropna(subset=['release_date'])

# Guardar el DataFrame modificado en el mismo archivo
combined_df.to_csv('combined_df.csv', index=False)

In [67]:
# Eliminar las columnas no utilizadas
columns_to_remove = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
combined_df = combined_df.drop(columns=columns_to_remove)

# Guardar el DataFrame modificado en el mismo archivo
combined_df.to_csv('combined_df.csv', index=False)